/*
Page: Home
*/

//Hero section
.hero {
  padding:160px 0 100px;  
  h1 {       
    max-width:950px;
    margin-left:0;
    margin-right:auto;
  }
}

//About section
.about {
  padding:160px 0; 
  display:flex;
  flex-wrap:wrap;
  &__picture {
    width:55%;
  }
  &__info {
    width:35%;
    margin-left:5%;
    padding:40px;
  }
}

//Projects section
.projects {
  padding:100px 0 160px; 
  &__header {
   
  }
}