/*
Main navbar
*/

.navbar {
  display:flex;
  flex-wrap:wrap;
  &__logo {
    width:20%;
    display:flex;
    align-items:center;    
  }
  &__nav {
    width:70%;
    height:120px;    
    display:flex;
    justify-content:flex-end;
    align-items:center;    
    ul {
      display:flex;
      li {
        padding: 32px;
      }
    }
  }
  &__lang {
    width:10%;
    display:flex;
    justify-content:flex-end;
    align-items:center; 
    ul {
      display:flex;
      li {
        padding:8px;
      }
    }
  }  
}